<a href="https://colab.research.google.com/github/Rameshkumar789/Computational-Menthods-INFO-5731/blob/main/Korlakunta_In_class_exercise_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (9/16/2020, 20 points in total)

The purpose of this exercise is to under users' information needs, then collect the data for analysis.

Question 1 (8 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

I love riding bikes. So, I decided to scrape data of Motorcycle Companies with their active production and discontinued bikes,
and list some of the models of the bikes. 
 

Motorcycle companies: Text
Active production and Discontinued bikes: Integer
List of Bikes: Text

I have collected 140 companies of data with their models.

Steps:
I have pulled the Html code using the request package, then used Beautiful soup to parse the data.
Using the find_all method, I located the attribute and stored it in the html_data variable.
Then using for-loop, I stored all the elements in the lists.
I created a data frame to store all the list data in the form of a table.
Finally, I saved the data in a .csv file.
'''

Question 2 (12 points): Write python code to collect 500 items of the data you plan to collect above.

In [2]:
# You code here (Please add comments in the code):

# pull the data
from requests import get
url = 'https://www.autoevolution.com/moto/'
response = get(url)

In [3]:
# Parse the data
from bs4 import BeautifulSoup
html_data = BeautifulSoup(response.text, 'html.parser')

In [4]:
# find the attribute
bikes = html_data.find_all('div', class_ = 'col2width fl bcol-white carman')

In [5]:
prod_dis = html_data.find_all('div', class_ = 'col3width fl carnums')

In [6]:
# Store all the Data in the lists

brand = []
production = []
discontinued = []

for bike in bikes:
    name = bike.h5.text
    brand.append(name)

    
for prod in prod_dis:
    product = prod.p.b.text
    production.append(int(product))
    
    discont = prod.find('b', class_ = 'col-red').text
    discontinued.append(int(discont))

In [7]:
# Create Dataframe
import pandas as pd
motorcycle = pd.DataFrame({'Brand': brand,
'Production': production,
'Discontinued': discontinued
})

In [8]:
motorcycle

         Brand  Production  Discontinued
0        Adler           0            11
1         AEON           9             5
2    AERMACCHI           0             9
3          AJP           6           129
4          AJS           1            58
..         ...         ...           ...
135    WHIZZER           1             3
136        WRM           1             0
137     YAMAHA         184          1204
138       ZERO          30            17
139    ZUNDAPP           0             8

[140 rows x 3 columns]

In [9]:
# Models
models=[]
for i in range(len(bikes)):
    if bikes[i].find('div', class_='models').a is not None:
        models.append(bikes[i].find('div', class_='models').a.text)

In [10]:
# Dataframe
bike_models=pd.DataFrame({'Models':models})
bike_models

                           Models
0                    Adler MB 250
1                   AEON Cobra 50
2                AERMACCHI RC 125
3               AJP PR7 ADVENTURE
4                      AJS R7 125
..                            ...
132             WHIZZER Pacemaker
133                   WRM 450 MX1
134  YAMAHA XV 1900 RAIDER CUSTOM
135                 ZERO FX ZF6.5
136                 ZUNDAPP 200 S

[137 rows x 1 columns]

In [11]:
motorcycle.to_csv('brand.csv')
bike_models.to_csv('models.csv')